.container-main{
  /*background-color: aquamarine;*/
  /*height: 100px;*/
}

.card-spaced {
    margin-bottom: 20px;
}

.add-button-spaced {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-clickable {
    cursor: pointer;
}