body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.selector-container{
  padding-top: 2em;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector > .select-dd {
  margin-left: 0px;
}

.selector-title {
  width: 300px;
}

.selector-btn {
  width: 120px;
}

.selector > div > input {
    /*border-color: aqua !important;*/
    border-radius: .25em;
    border-style: groove;
}

.close-btn {
    margin-left: .5em;
}

.lib-list-item {
    width: 250px;
}